<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>대시보드</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    @media (max-width: 1920px) {
      .dashboard .info-card .responsive-text {
        font-size: 16px;
      }
    }
  </style>
</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">알엠소프트</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <th:block sec:authorize="isAuthenticated()">
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${memberName}+'님'"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/serviceApplication">
                <i class="bi bi-journal-text"></i>
                <span>서비스 신청</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/extensionSubscription">
                <i class="bi bi-journal-text"></i>
                <span>구독 연장</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>로그아웃</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->
  </th:block>
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-grid"></i>
        <span>대시보드</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/serviceApplication">
        <i class="bi bi-journal-text"></i>
        <span>서비스 신청</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/extensionSubscription">
        <i class="bi bi-journal-text"></i>
        <span>구독 연장</span>
      </a>
    </li>

    <div sec:authorize="!isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/signup">
          <i class="bi bi-card-list"></i>
          <span>회원가입</span>
        </a>
      </li>
    </div>

    <div sec:authorize="!isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/signin">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>로그인</span>
        </a>
      </li><!-- End Login Page Nav -->
    </div>

    <div sec:authorize="isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-right"></i>
          <span>로그아웃</span>
        </a>
      </li>
    </div>

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>대시보드</h1>

    <div class="d-flex align-items-center">
      <h5 class=>구독중인 서비스 </h5>

      <div class="row mb-6">
        <div class="col">
          <select class="form-select" id="serviceList" aria-label="Default select example">
            <option value="" selected disabled hidden>서비스 목록</option>
            <th:block th:each="dashboardResponse : ${dashboardResponseDto}">
              <option th:id="${dashboardResponse.name}" th:value="${dashboardResponse.name}" th:text="${dashboardResponse.name}"></option>
            </th:block>
          </select>
        </div>
      </div>
    </div>


  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">서비스명</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-card-list"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="name" class="responsive-text"></h6>
                    <span class="text-muted small pt-2 ps-1">결제 금액(월)</span>
                    <span class="text-primary small pt-1 fw-bold" id="price"></span>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">스토리지 용량 </h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-database-add"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="storage" class="responsive-text"></h6>
                    <span class="text-muted small pt-2 ps-1">사용량</span>
                    <span class="text-success small pt-1 fw-bold" id="storageAmount"></span>

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="card-body">
                <h5 class="card-title">구독 기간</h5>

                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-calendar-range"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="subscriptionEndDate" class="responsive-text"></h6>
                      <div class="d-flex align-items-center">
                        <span class="text-muted small">남은 기간</span>
                        <span class="text-danger small fw-bold" id="remainingDays"></span>
                      </div>
                    </div>
                  </div>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#subscriptionExtensionModal" class="btn btn-outline-primary" id="subscriptionExtensionButton">구독 연장</button>
                </div>


              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">스토리지 사용량(GB) <span> | 주</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [ {
                        name: 'Customers',
                        data: [15, 11, 32, 18, 9, 24, 11]
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'datetime',
                        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy HH:mm'
                        },
                      }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Website Traffic -->
        <div class="card">

          <div class="card-body pb-0">
            <h5 class="card-title">스토리지 사용량(TB)<span> | 월</span></h5>

            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                echarts.init(document.querySelector("#trafficChart")).setOption({
                  tooltip: {
                    trigger: 'item'
                  },
                  legend: {
                    top: '5%',
                    left: 'center'
                  },
                  series: [{
                    name: 'Access From',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: 'center'
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: '18',
                        fontWeight: 'bold'
                      }
                    },
                    labelLine: {
                      show: false
                    },
                    data: [
                      {
                        value: 484,
                        name: 'Union Ads'
                      },
                      {
                        value: 300,
                        name: 'Video Ads'
                      }
                    ]
                  }]
                });
              });
            </script>

          </div>
        </div><!-- End Website Traffic -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- 구독연장 modal-->
<div class="modal fade" id="subscriptionExtensionModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">구독 연장</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
          <div class="row">
            <label for="extenSionPeriod" class="col-sm-4 col-form-label">연장 기간(월)</label>
            <div class="col-sm-8">
              <input type="number" id="extensionPeriod" class="form-control" required min="1" value="1">
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" id="serviceName"></div>
            <div class="col-sm-8" id="servicePrice"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sumitSubscriptionExtension">신청</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script th:inline="javascript">
  /*<![CDATA[*/
  var services = /*[[${dashboardResponseDto}]]*/ [];
  /*]]>*/

  // 서비스 명과 가격 출력 메서드
  function showServiceNameAndPrice() {
    var extensionPeriod = $('#extensionPeriod').val();
    var serviceName = $('#name').text();
    var priceText = $('#price').text();
    var price = parseInt(priceText.replace(/[^0-9]/g, '')) * extensionPeriod;
    var formattedPrice = price.toLocaleString('ko-KR');

    $('#serviceName').text(serviceName);
    $('#servicePrice').text(formattedPrice + "원");
  }

  function updateDashboardInfo(selectedService) {
    var price = selectedService.price;
    var formattedPrice = price.toLocaleString('ko-KR');

    // 페이지의 각 요소에 대한 데이터 업데이트
    $('#name').text(selectedService.name);
    $('#price').text(formattedPrice + '원');
    $('#storage').text(selectedService.storage + "TB");
    $('#subscriptionEndDate').text("~" + selectedService.subscriptionEndDate);
    $('#storageAmount').text("1TB(임시 데이터)");

    // 현재 날짜를 가져옴
    var currentDate = new Date();
    currentDate.setHours(0, 0, 0, 0);

    // 구독 종료 날짜를 Date 객체로 변환 후 시간을 0시 0분 0초로 설정
    var subscriptionEndDate = new Date(selectedService.subscriptionEndDate);
    subscriptionEndDate.setHours(0, 0, 0, 0);

    // 남은 일수 계산
    var diff = subscriptionEndDate.getTime() - currentDate.getTime();
    var remainingDays = Math.ceil(diff / (1000 * 60 * 60 * 24));

    // 남은 기간 표시
    $('#remainingDays').text(" "+ remainingDays + "일");
  }

  function subscriptionExtension() {
    var selectedName = $('#serviceName').text();
    var selectedService = services.find(service => service.name === selectedName);
    var subscriptionCode = selectedService.subscriptionCode;
    var extensionPeriod = parseInt($('#extensionPeriod').val());
    var servicePriceText = $('#servicePrice').text();
    var paymentAmount = parseInt(servicePriceText.replace(/[^0-9]/g, ''));
    var subscriptionEndDate = new Date(selectedService.subscriptionEndDate);
    // subscriptionEndDate에 하루를 더함
    subscriptionEndDate.setDate(subscriptionEndDate.getDate() + 1);

    // extensionStartDate를 yyyy-MM-dd 형식의 문자열로 변환
    var extensionStartDate = subscriptionEndDate.toISOString().split('T')[0];

    // extensionStartDate를 Date 객체로 변환
    var endDate = new Date(extensionStartDate);
    var newMonth = endDate.getMonth() + extensionPeriod;
    endDate.setMonth(newMonth);
    if (endDate.getDate() < new Date(extensionStartDate).getDate()) {
      endDate.setDate(0);
    }
    var extensionEndDate = endDate.toISOString().split('T')[0];

    var formData = {
      subscriptionCode: subscriptionCode,
      extensionPeriod: extensionPeriod,
      paymentAmount: paymentAmount,
      extensionStartDate: extensionStartDate,
      extensionEndDate: extensionEndDate
    }

    $.ajax({
      url: '/api/subscription/extension',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(formData),
      success: function(response) {
        alert(response);
        selectedService.subscriptionEndDate = extensionEndDate;
        updateDashboardInfo(selectedService);
        $('#subscriptionExtensionModal').modal('hide');
      },
      error: function(xhr, status, error) {
        console.error('Error occurred:', error);
        alert('구독 연장 신청 중 오류가 발생했습니다.');
      }
    });
  }

  $('#extensionPeriod').on('change', function() {
    showServiceNameAndPrice();
  });

  $('#serviceList').on('change', function() {
    var selectedName = $(this).val();
    var selectedService = services.find(service => service.name === selectedName);

    updateDashboardInfo(selectedService);
  });
  $('#sumitSubscriptionExtension').on('click', subscriptionExtension);

  $(document).ready(function() {
    $('#subscriptionExtensionModal').on('show.bs.modal', function (e) {
      showServiceNameAndPrice();
    });
  });
</script>

</body>

</html>