<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rmsoft.mapper.DashboardMapper">
    <!-- 대시보드 구성 요소 -->
    <select id="dashboardResponse" parameterType="String" resultType="com.example.rmsoft.dto.DashboardResponseDto">
        SELECT s.name, s.storage, s.price, sub.subscription_code, sub.subscription_end_date
        FROM subscription sub
                 JOIN service s ON sub.service_code = s.service_code
        WHERE sub.member_id = #{memberId} AND sub.subscription_status = 'S'

        UNION

        SELECT srv.name, srv.storage, srv.price, sub.subscription_code, se.extension_end_date
        FROM subscription_extension se
                 JOIN subscription sub ON se.subscription_code = sub.subscription_code
                 JOIN service srv ON sub.service_code = srv.service_code
        WHERE se.subscription_status = 'S' AND sub.member_id = #{memberId}
    </select>

</mapper>