<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rmsoft.mapper.SubscriptionMapper">
    <!-- 서비스 신청 -->
    <insert id="createSubscription" parameterType="com.example.rmsoft.dto.SubscriptionDto">
        INSERT INTO subscription (
            member_id, service_code, user_count, payment_amount, subscription_period,
            subscription_start_date, subscription_end_date, subscription_status,
            company_name, phone, email, address
        )
        VALUES (
                   #{memberId}, #{serviceCode}, #{userCount}, #{paymentAmount}, #{subscriptionPeriod},
                   #{subscriptionStartDate}, #{subscriptionEndDate}, #{subscriptionStatus},
                   #{companyName}, #{phone}, #{email}, #{address}
               )
    </insert>
    <!-- 구독 종료일 갱신-->
    <update id="updateSubscriptionEndDate">
        update subscription set subscription_end_date = #{extensionEndDate} where subscription_code = #{subscriptionCode}
    </update>
    <!-- 구독 종료된 서비스 구독 상태 갱신-->
    <update id="updateExpireSubscriptionStatus">
        update subscription set subscription_status = 'E' where subscription_end_date &lt; curdate() and subscription_status = 'S'
    </update>
    <!-- 구독 시작된 서비스 구독 상태 갱신-->
    <update id="updateStartSubscriptionStatus">
        update subscription set subscription_status = 'S' where subscription_start_date &lt;= curdate() and subscription_status = 'N'
    </update>
</mapper>